extends ../../layout

block content
  .row
    .col-sm-3
      .card.card-primary.card-outline
        .card-body
            div(class="row")
                div(class="col-sm-6")
                    div(class="position-relative p-3 bg-blue", style="height: 105px")
                        div(class="ribbon-wrapper ribbon-lg")
                            div(class="ribbon bg-success text-lg") AD Value
                        h3(style="position:absolute;bottom:0px")
                            i(class="fas fa-ruble-sign")
                            |  #{article_ad_value}
                
                div(class="col-sm-6")
                    div(class="position-relative p-3 bg-blue", style="height: 105px")
                        div(class="ribbon-wrapper ribbon-lg")
                            div(class="ribbon bg-success text-lg") PR Value
                        h3(style="position:absolute;bottom:0px")
                            i(class="fas fa-ruble-sign")
                            |  #{article_pr_value}
            .col-sm-12
                h3(class="profile-username text-center")=website.website_name
                p(class="text-muted text-center")=website.website_category
                    |  | #{website.website_type}
                ul(class="list-group list-group-unbordered mb-3")
                    li(class="list-group-item")
                        b Home Url
                        a(class="float-right")=website.website_url
                    li(class="list-group-item")
                        b FQDN
                        a(class="float-right")=website.fqdn
                    li(class="list-group-item")
                        b Country
                        a(class="float-right")=website.country
                    li(class="list-group-item")
                        b Website Cost
                        a(class="float-right")=website.website_cost
            div(class="row")
                div(class="col-sm-6")
                    div(class="position-relative p-3 bg-blue", style="height: 105px")
                        div(class="ribbon-wrapper ribbon-lg")
                            div(class="ribbon bg-success text-lg") Global
                                i(class="fas fa-trophy")
                        h3(style="position:absolute;bottom:0px")
                            i(class="fas fa-globe-americas")
                            |  #{website.alexa_rankings.global}
                
                div(class="col-sm-6")
                    div(class="position-relative p-3 bg-blue", style="height: 105px")
                        div(class="ribbon-wrapper ribbon-lg")
                            div(class="ribbon bg-success text-lg") Local
                                i(class="fas fa-trophy")
                        h3(style="position:absolute;bottom:0px")
                            i(class="fas fa-globe-asia")
                            |  #{website.alexa_rankings.local}
        .card-footer
            ul(class="list-group list-group-unbordered mb-3")
                li(class="list-group-item")
                    b System Added
                    a(class="float-right", title=moment(date_created).format('LLLL'))=moment(date_created).fromNow()
                li(class="list-group-item")
                    b Created By
                    a(class="float-right")=created_by
                li(class="list-group-item")
                    b Last Modified
                    a(class="float-right", title=moment(date_updated).format('LLLL'))=moment(date_updated).fromNow()
                li(class="list-group-item")
                    b Modified By
                    a(class="float-right")=updated_by


    .col-sm-9
      .card.card-primary.card-outline
        .card-header
          h3.card-title
            a(href=article_url, class="nav-link", target="_blank", title="View original article")=article_title
          .card-tools
            button(type="button", class="btn btn-tool", data-toggle="modal", data-target="#modal-delete-article")
                    i.fas.fa-trash
            button(type="button", class="btn btn-tool", onclick="location.href='/mmi-admin-dashboard/articles/edit/"+_id+"'")
                i.fas.fa-edit
            button(type="button", class="btn btn-tool", data-card-widget="maximize")
              i.fas.fa-expand
            button(type="button", class="btn btn-tool", data-card-widget="collapse")
              i.fas.fa-minus
        .card-body
            if article_sections.length > 0
                ol.breadcrumb
                    each section in article_sections
                        li.breadcrumb-item=section
            blockquote(style="text-align: justify")=article_content
            p.float-right.text-muted(title=moment(article_publish_date).format('LLLL'))=article_authors.splice(-1)[0]
                |,  #{moment(article_publish_date).fromNow()}
        
        div(class="modal fade", id="modal-delete-article")
            div(class="modal-dialog")
                div(class="modal-content bg-warning")
                    div(class="modal-header")
                        h4(class="modal-title") Do you want to delete this article?
                        button(type="button", class="btn btn-danger", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                        button(type="button", class="btn btn-success", onclick="deleteArticle('"+_id+"')", aria-label="Close")
                            span(aria-hidden="true") &#10004;

block js
    script.
        function deleteArticle(id){
            console.log(id)
            $.ajax({
                url: '/mmi-admin-dashboard/articles/delete/'+id,
                method: 'POST'
            }).done(function(response){
                 $(document).Toasts('create', {
                    class: 'bg-success', 
                    delay: 3000,
                    autohide: true,
                    title: 'Success.',
                    body: 'Article has been removed!'
                })
                setTimeout(() => {
                    location.href = '/mmi-admin-dashboard/articles' 
                }, 250)
            }).fail(function(response){
                 $(document).Toasts('create', {
                    class: 'bg-danger', 
                    delay: 3000,
                    autohide: true,
                    title: 'Oops.',
                    body: response.responseText
                })
            })
        }